@import "../../styles.scss";

.profile-content{
  width: auto;
  height: auto;
}

.Info-card{
  width: auto;
  height: auto;
  padding: 16px;
  //margin-bottom: 20px;
  margin-top: 20px;
}

.profile-options {
  width: auto;
  height: auto;
}
