<div class="example-header" fxLayout="row">
  <mat-form-field>
    <mat-icon matPrefix>search</mat-icon>
    <input label="Filter" matInput (keyup)="applyFilter($event.target.value)" >
  </mat-form-field>
</div>

<div class="table-container">
  <mat-table [dataSource]="dataSource" matSort>

    <!--<ng-container matColumnDef="id">-->
    <!--<mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>-->
    <!--<mat-cell *matCellDef="let user">{{user._id}}</mat-cell>-->
    <!--</ng-container>-->

    <!--[Name Column]-->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.name}}<span> </span>{{user.last}}</mat-cell>
    </ng-container>

    <!--&lt;!&ndash;[Last Name Column]&ndash;&gt;-->
    <!--<ng-container matColumnDef="last">-->
      <!--<mat-header-cell *matHeaderCellDef mat-sort-header> Last </mat-header-cell>-->
      <!--<mat-cell *matCellDef="let user">{{user.last}}</mat-cell>-->
    <!--</ng-container>-->

    <!--[Monday Column]-->
    <ng-container matColumnDef="Monday">
      <mat-header-cell *matHeaderCellDef> Monday </mat-header-cell>
      <mat-cell *matCellDef="let user">
        <div fxLayout="row">
          <button mat-icon-button (click)="addShift(user)"><mat-icon>add</mat-icon></button>
        </div>
      </mat-cell>
    </ng-container>

    <!--[Tuesday Column]-->
    <ng-container matColumnDef="Tuesday">
      <mat-header-cell *matHeaderCellDef> Tuesday </mat-header-cell>
      <mat-cell *matCellDef="let user">
        <div fxLayout="row">
          <button mat-icon-button (click)="addShift(user)"><mat-icon>add</mat-icon></button>
        </div>
      </mat-cell>
    </ng-container>

    <!--[Wednesday Column]-->
    <ng-container matColumnDef="Wednesday">
      <mat-header-cell *matHeaderCellDef> Wednesday </mat-header-cell>
      <mat-cell *matCellDef="let user">
        <div fxLayout="row">
          <button mat-icon-button (click)="addShift(user)"><mat-icon>add</mat-icon></button>
        </div>
      </mat-cell>
    </ng-container>

    <!--[Thursday Column]-->
    <ng-container matColumnDef="Thursday">
      <mat-header-cell *matHeaderCellDef> Thursday </mat-header-cell>
      <mat-cell *matCellDef="let user">
        <div fxLayout="row">
          <button mat-icon-button (click)="addShift(user)"><mat-icon>add</mat-icon></button>
        </div>
      </mat-cell>
    </ng-container>

    <!--[Friday Column]-->
    <ng-container matColumnDef="Friday">
      <mat-header-cell *matHeaderCellDef> Friday </mat-header-cell>
      <mat-cell *matCellDef="let user">
        <div fxLayout="row">
          <button mat-icon-button (click)="addShift(user)"><mat-icon>add</mat-icon></button>
        </div>
      </mat-cell>
    </ng-container>

    <!--[Saturday Column]-->
    <ng-container matColumnDef="Saturday">
      <mat-header-cell *matHeaderCellDef> Saturday </mat-header-cell>
      <mat-cell *matCellDef="let user">
        <div fxLayout="row">
          <button mat-icon-button (click)="addShift(user)"><mat-icon>add</mat-icon></button>
        </div>
      </mat-cell>
    </ng-container>

    <!--[Sunday Column]-->
    <ng-container matColumnDef="Sunday">
      <mat-header-cell *matHeaderCellDef> Sunday </mat-header-cell>
      <mat-cell *matCellDef="let user">
        <div fxLayout="row">
          <button mat-icon-button (click)="addShift(user)"><mat-icon>add</mat-icon></button>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></mat-row>

  </mat-table>
  <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</div>


<!--<div class="phone-responsive" fxShow="false" fxFlex fxShow.lt-md="true" fxLayout="column" fxLayoutAlign="center">-->
<!--<mat-list>-->
<!--<mat-list-item *ngFor="let user of users">-->
<!--<mat-icon mat-list-icon>account_circle</mat-icon>-->
<!--<h4 mat-line>{{user.name}} {{user.last}}</h4>-->
<!--</mat-list-item>-->
<!--</mat-list>-->
<!--</div>-->
